

<h1>Create Post</h1>

   <form action="/posts/users-create-post" method="POST">
    <textarea name="content" cols="30" rows="3" placeholder="Type Here......."></textarea>
    <input type="submit" value="Create Post">
    
</form>