

<h1>Create Comment</h1>

<form action="/comments/create/<%= post._id %>" method="POST">
 <textarea name="content" cols="30" rows="3" placeholder="Type Here......."></textarea>
 <input type="submit" value="Create Comment">
 
</form>